<aside id="scroll_box" class="author">
 <div class="slide-box-scroll">
   <div id="backtoTop" data-action="gototop"></div>
   <!-- <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="iops" />     
   -->
   <img class="profile-image" src="//img.iops.cc/jam.jpg" alt="iops" />     
 </a>
 <p class="name">
   by <strong>Jam</strong>
 </p>
 <p class="address">北京, 海淀区</p>
 <p class="link">王不出头不成主，员不出力怎成勋</p>
 <ul class="social">
   <!-- <li>     
   <a class="icon-twitter" target="_blank" rel="nofollow" href="http://twitter.com/svencn" title="Follow me on Twitter"></a>
 </li>
 <li>
   <a class="icon-dribbble"  target="_blank" rel="nofollow" href="https://dribbble.com/svencn" title="See what I'm working on Dribbble"></a>
 </li>
 <li>
   <a class="icon-wordpress" target="_blank" href="http://www.seavia.com" hreflang="zh" title="Check out my Chinese blog."></a>
 </li>
 -->
</ul>
<div class="percent">
 You have read:
 <div class="per"></div>
 <span></span>
 %
</div>
</div>
</aside>